<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon_princi"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_princi_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EvaLab_ResultAnalisisClinicos"
        tools:targetApi="31">
        <activity
            android:name=".examenes.FuncionHepatica"
            android:exported="false" />
        <activity
            android:name=".examenes.FuncionRenal"
            android:exported="false" />
        <activity
            android:name=".usuarios.EditarUsuario"
            android:exported="false" />
        <activity
            android:name=".usuarios.MenuUsuarios"
            android:exported="false" />
        <activity
            android:name=".usuarios.InformacionPerfil"
            android:exported="false" />
        <activity
            android:name=".VentanaResultados"
            android:exported="false" />
        <activity
            android:name=".FormularioPrincipal"
            android:exported="false" />
        <activity
            android:name=".examenes.ExamenGeneralOrina"
            android:exported="false" />
        <activity
            android:name=".examenes.HemogramaCompleto"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".examenes.ExamenesInfecciones"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".examenes.ExamenesFunRenal"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".examenes.ExamenesTiroides"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".examenes.ExamenesFunHepatica"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".examenes.ExamenesOrina"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".examenes.ExamenesSangre"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".PaginaCarga"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MenuCategorias"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MenuPrincipal"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>